<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>Admin</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="fragments :: nav"></div>

<div class="w-75 mx-auto">
    <h1 class="text-center mt-3">Create Faculty</h1>
    <form action="/faculty/create" method="post" class="mt-5" th:object="${faculty}">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}">
                <li th:each="er : ${#fields.errors('name')}" class="red"></li>
            </span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>