<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title th:text="#{create.name(#{name.group})}"></title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="fragments :: nav"></div>

<div class="w-75 mx-auto">
    <h1 class="text-center mt-3" th:text="#{create.name(#{name.group})}"></h1>
    <form th:action="@{/admin/group/create}" method="post" class="mt-5" th:object="${group}">
        <div class="mb-3">
            <label for="name" class="form-label" th:text="#{name.name}"></label>
            <input type="text" class="form-control" id="name" name="name" th:placeholder="#{enter.smth(#{name.name})}" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}">
                            <li th:each="er : ${#fields.errors('name')}"
                                th:text="#{${er}(#{name.name})}"

                                class="alert alert-danger">
                            </li>
                        </span>
        </div>
        <div class="mb-3">
            <label for="faculty" class="form-label" th:text="#{name.faculty}"></label>
            <select class="form-select" id="faculty" name="faculty">
                <option value="" th:text="#{select.smth(#{name.faculty})}"></option>
                <option th:each="f : ${faculties}"
                        th:value="${f.id}"
                        th:text="${f.name}">
                </option>
            </select>
<!--            <span th:if="${#fields.hasErrors('faculty')}">-->
<!--                            <li th:each="er : ${#fields.errors('faculty')}"-->
<!--                                th:text="#{${er}(#{name.faculty})}"-->
<!--                                class="alert alert-danger">-->
<!--                            </li>-->
<!--                        </span>-->
        </div>
        <div class="mb-3">
            <label for="course" class="form-label" th:text="#{name.course}"></label>
            <input type="text" class="form-control" id="course" name="course" th:placeholder="#{enter.smth(#{name.course})}" th:field="*{course}">
            <span th:if="${#fields.hasErrors('course')}">
                            <li th:each="er : ${#fields.errors('course')}"
                                th:text="#{${er}(#{name.course})}"

                                class="alert alert-danger">
                            </li>
                        </span>
        </div>
        <div class="mb-3">
            <label for="owner" class="form-label" th:text="#{name.teacher}"></label>
            <select class="form-select" id="owner" name="owner">
                <option value="" th:text="#{select.smth(#{name.teacher})}"></option>
                <option th:each="t : ${teachers}"
                        th:value="${t.id()}"
                        th:text="${t.firstName + ' ' + t.lastName}">
                </option>
            </select>
<!--            <span th:if="${#fields.hasErrors('owner')}">-->
<!--                            <li th:each="er : ${#fields.errors('owner')}"-->
<!--                                th:text="#{${er}(#{name.teacher})}"-->
<!--                                class="alert alert-danger">-->
<!--                            </li>-->
<!--                        </span>-->
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{name.create}"></button>
    </form>
</div>
<section th:replace="fragments::js_links"/>


</body>
</html>