<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title th:text="#{create.name(#{name.faculty})}"></title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="fragments :: nav"></div>

<div class="w-75 mx-auto">
    <h1 class="text-center mt-3" th:text="#{create.name(#{name.group})}"></h1>
    <form th:action="@{/admin/group/create}" method="post" class="mt-5" th:object="${group}">
        <div class="mb-3">
            <label for="name" class="form-label" th:text="#{name.name}"></label>
            <input type="text" class="form-control" id="name" name="name" th:placeholder="#{enter.smth(#{name.name})}"
                   th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}">
                            <li th:each="er : ${#fields.errors('name')}"
                                th:text="#{${er}(#{name.name})}"
                                class="alert alert-danger">
                            </li>
                        </span>
        </div>
        <div class="mb-3">
            <label for="teacher" class="form-label" th:text="#{name.teacher}"></label>
            <input type="text" class="form-control" id="teacher" name="teacher"
                   th:placeholder="Elbek Teacher Kelishi kere" th:field="*{teacherId}">
            <span th:if="${#fields.hasErrors('teacher')}">
                            <li th:each="er : ${#fields.errors('teacher')}"
                                th:text="#{${er}(#{name.teacher})}"
                                class="alert alert-danger">
                            </li>
                        </span>
        </div>
        <div class="mb-3">
            <label for="course" class="form-label" th:text="#{name.course}"></label>
            <input type="number" class="form-control" id="course" name="course"
                   th:placeholder="#{enter.smth(#{name.course})}" th:field="*{course}">
            <span th:if="${#fields.hasErrors('course')}">
                            <li th:each="er : ${#fields.errors('course')}"
                                th:text="#{${er}(#{name.course})}"
                                class="alert alert-danger">
                            </li>
                        </span>
        </div>
        <div class="mb-3">
            <label for="course" class="form-label" th:text="#{name.faculty}"></label>
            <input type="number" class="form-control" id="faculty" name="faculty"
                   th:placeholder="#{enter.smth(#{name.faculty})}" th:field="*{facultyId}">
<!--            <select class="selectpicker" data-live-search="true">-->
<!--                <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>-->
<!--                <option data-tokens="mustard">Burger, Shake and a Smile</option>-->
<!--                <option data-tokens="frosting">Sugar, Spice and all things nice</option>-->
<!--            </select>-->
            <span th:if="${#fields.hasErrors('faculty')}">
                            <li th:each="er : ${#fields.errors('faculty')}"
                                th:text="#{${er}(#{name.faculty})}"
                                class="alert alert-danger">
                            </li>
                        </span>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{name.create}"></button>
    </form>
</div>
</body>
</html>