<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>Finals</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="fragments :: nav"></div>
<div th:replace="fragments :: student-sub-nav"></div>

<div class="w-auto col-md-4" style="margin: 50px 25px;">
    <table class="table table-striped" >
        <thead>
        <tr>
            <th th:text="Fan">Name</th>
            <th th:text="Patok">Patok</th>
            <th th:text="Sana">Date</th>
            <th th:text="Boshlanish vaqti">Start time</th>
            <th th:text="Xona">Room</th>
            <th th:text="Ball">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="" th:each="course: ${myCourses}">
            malumot Yo'q
<!--            <td th:text="${course.name}">Oranges</td>-->
            <!--<td th:text="${course.professor}">0.99</td>
            <td th:text="${course.attendance}">0.99</td>
            <td th:text="${course.deadline}">0.99</td>
            <td th:text="Assalom">0.99</td>-->
        </tr>
        </tbody>

    </table>
</div>


<section th:replace="fragments :: js_links"></section>

</body>
</html>