<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>My Courses</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="fragments :: nav"></div>
<div th:replace="fragments :: student-sub-nav"></div>

<div class="w-auto col-md-4" style="margin: 50px 25px;">
    <table class="table table-striped" >
        <thead>
        <tr>
            <th th:text="Fan">Name</th>
            <th th:text="Oqituvchi">Professor</th>
            <th th:text="Davomat">Attendance</th>
            <th th:text="Amal">Deadline</th>
            <th th:text="Reja">Plan</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="course: ${myCourses}">
            <td th:text="${course.name}">Oranges</td>
            <td th:text="s">0.99</td>
            <td th:text="s">0.99</td>
            <td th:text="s">0.99</td>
            <td th:text="Assalom">0.99</td>
            <!--<td th:text="${course.professor}">0.99</td>
            <td th:text="${course.attendance}">0.99</td>
            <td th:text="${course.deadline}">0.99</td>
            <td th:text="Assalom">0.99</td>-->
        </tr>
        </tbody>

    </table>
</div>


</body>
</html>