<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>My Courses</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="fragments :: nav"></div>
<div th:replace="fragments :: student-sub-nav"></div>

<div class="w-auto col-md-4" style="margin: 50px 25px;">
    <table class="table table-striped" >
        <thead>
        <tr>
            <th th:text="Mening Fanlarim">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="name: ${subjectsName}">
            <td th:text="${name}">Fan Nomi</td>
        </tr>
        </tbody>

    </table>
</div>


<section th:replace="fragments :: js_links">Orqaga</section>
</body>
</html>