<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>My Courses</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="fragments :: nav"></div>
<div th:replace="fragments :: student-sub-nav"></div>

<div class="w-auto col-md-4" style="margin: 50px 25px;">
    <table class="table table-striped" >
        <thead>
        <tr>
            <th th:text="Fan">Name</th>
            <th th:text="Oqituvchi">Professor</th>
            <th th:text="Davomat">Attendance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${combinations.size() == 0}">
            <td colspan="5" th:text="You have no courses yet">You have no courses yet</td>
        </tr>
        <tr th:each="combination: ${combinations}">
            <td th:text="${combination.getLesson().getSubject().getName()}">Fan Nomi</td>
            <td th:text="${combination.getLesson().getTeacher().getUser().getFirstName()} + ' ' + ${combination.getLesson().getTeacher().getUser().getLastName()}">Ustoz Ismi</td>
            <td th:text="${combination.getLesson().getId() == combination.getAttendance().getLesson_id() ? combination.getAttendance().getCount() : 'nan'} " />
        </tr>
        </tbody>

    </table>
</div>

<section th:replace="fragments :: js_links"></section>
</body>
</html>