<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>Retake</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="fragments :: nav"></div>
<div th:replace="fragments :: student-sub-nav"></div>

<div class="card" style="width: 18rem; margin: 50px 50px 50px 50px">
    <img src="/img/retake.jpg" class="card-img-top" alt="retake.jpg">
    <div class="card-body">
        <h5 class="card-title">Qayta topshirish uchun shartnomani yuklab oling</h5>
        <form action="/student/retake" method="get">
            <button class="btn btn-dark" type="button">Yuklab olish</button>
        </form>

    </div>
</div>


<section th:replace="fragments :: js_links"></section>
</body>
</html>