<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>Schedule</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="fragments :: nav"></div>

<div class="ps-3 pe-3 pt-5">
    <div class="card border-success mb-3">
        <table class="table align-middle">
            <thead>
            <tr>
                <td>#</td>
                <td style="text-align: center" th:text="${#messages.msg('monday')}"></td>
                <td style="text-align: center" th:text="${#messages.msg('tuesday')}"></td>
                <td style="text-align: center" th:text="${#messages.msg('wednesday')}">></td>
                <td style="text-align: center" th:text="${#messages.msg('thursday')}"></td>
                <td style="text-align: center" th:text="${#messages.msg('friday')}"></td>
                <td style="text-align: center" th:text="${#messages.msg('saturday')}"></td>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="i : ${#numbers.sequence(1, 6)}">
                <tr class="align-middle" th:height="120px">
                    <td th:text="${i}"></td>
                    <td>
                        <div th:each="lesson : ${lessons}"
                             th:if="${lesson.getPara()==i && lesson.getDayOfWeek()==1}">
                            <div style="background-color : #84ff68">
                                <table>
                                    <tbody>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.subject')}"> </span> : <span
                                                th:text="${lesson.getSubjectName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.room')}"></span> : <span
                                                th:text="${lesson.getRoomName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('student.teacher')}"></span> : <span
                                                th:text="${lesson.getTeacher()}"></span></div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div th:each="lesson : ${lessons}"
                             th:if="${lesson.getPara()==i && lesson.getDayOfWeek()==2}">
                            <div style="background-color : #84ff68">
                                <table>
                                    <tbody>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.subject')} "> </span> : <span
                                                th:text="${lesson.getSubjectName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.room')}"></span> : <span
                                                th:text="${lesson.getRoomName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('student.teacher')}"></span> : <span
                                                th:text="${lesson.getTeacher()}"></span></div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div th:each="lesson : ${lessons}"
                             th:if="${lesson.getPara()==i && lesson.getDayOfWeek()==3}">
                            <div style="background-color : #84ff68">
                                <table>
                                    <tbody>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.subject')} "> </span> : <span
                                                th:text="${lesson.getSubjectName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.room')}"></span> : <span
                                                th:text="${lesson.getRoomName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('student.teacher')}"></span> : <span
                                                th:text="${lesson.getTeacher()}"></span></div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div th:each="lesson : ${lessons}"
                             th:if="${lesson.getPara()==i && lesson.getDayOfWeek()==4}">
                            <div style="background-color : #84ff68">
                                <table>
                                    <tbody>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.subject')} "> </span> : <span
                                                th:text="${lesson.getSubjectName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.room')}"></span> : <span
                                                th:text="${lesson.getRoomName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('student.teacher')}"></span> : <span
                                                th:text="${lesson.getTeacher()}"></span></div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div th:each="lesson : ${lessons}"
                             th:if="${lesson.getPara()==i && lesson.getDayOfWeek()==5}">
                            <div style="background-color : #84ff68">
                                <table>
                                    <tbody>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.subject')} "> </span> : <span
                                                th:text="${lesson.getSubjectName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.room')}"></span> : <span
                                                th:text="${lesson.getRoomName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('student.teacher')}"></span> : <span
                                                th:text="${lesson.getTeacher()}"></span></div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div th:each="lesson : ${lessons}"
                             th:if="${lesson.getPara()==i && lesson.getDayOfWeek()==6}">
                            <div style="background-color : #84ff68">
                                <table>
                                    <tbody>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.subject')} "> </span> : <span
                                                th:text="${lesson.getSubjectName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('teacher.room')}"></span> : <span
                                                th:text="${lesson.getRoomName()}"></span></div>
                                    </tr>
                                    <tr>
                                        <div style="text-align: center"><span
                                                th:text="${#messages.msg('student.teacher')}"></span> : <span
                                                th:text="${lesson.getTeacher()}"></span></div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<section th:replace="fragments :: js_links"></section>
</body>
</html>