<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>Admin</title>
    <link rel="stylesheet" href="">
</head>
<body>

<div th:replace="fragments :: nav"></div>

<div class="w-75 mx-auto">
    <h1>Student list</h1>

    <nav th:if="${pages > 1}" aria-label="Page navigation example" class="mt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:if="${hasPrevious}" th:href="@{'?pg='+${current - 1}+'&groupId='+${groupId}}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, pages)}" class="page-item"
                th:classappend="${current == i - 1} ? 'active' : ''">
                <a class="page-link" th:text="${i}" th:href="@{'?pg='+${i - 1}+'&groupId='+${groupId}}"></a>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${hasNext}" th:href="@{'?pg='+${current + 1}+'&groupId='+${groupId}}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <span th:if="${students.isEmpty()}" style="position: absolute; top: 350px; left: 730px">Grupa bo'sh</span>

    <table th:if="${pages > 0}" class="table table-striped mt-5">
        <thead>
        <tr>
            <th scope="col">N</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Gender</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, i : ${students}">
            <td th:text="${i.count}"></td>
            <td th:text="${student.getFirstName()}"></td>
            <td th:text="${student.getLastName()}"></td>
            <td th:text="${student.gender}"></td>
        </tr>
        </tbody>
    </table>

    <div class="position-fixed" style="bottom: 75px">
        <a class="btn btn-warning text-white" id="back">Back</a>
        <a class="btn btn-primary position-fixed" onclick="myRemove()" th:href="@{'/admin/searchStudent'}" style="width: 55px; height: 47px;
         border-radius: 47%; font-size: 22px; right: 190px; padding: 4px 6px">+</a>
    </div>
</div>

<section th:replace="fragments :: js_links"></section>

<script>
    function myRemove(){
        sessionStorage.removeItem('username');
    }

    document.getElementById("back").href = "/admin/groupSearch?group="
        + sessionStorage.getItem("group")+"&pg=0";
</script>
</body>
</html>