<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:fragment="head(title,links)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <th:block th:replace="${title}"></th:block>
    <th:block th:replace="${links}"></th:block>
</head>
<body>


<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg bg-body-tertiary w-75 mx-auto my-4">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0" sec:authorize="hasRole('ADMIN')">
                    <div class="dropdown">
                        <button class="btn btn-light mt-1 me-2 dropdown-toggle"
                                th:text="#{name.student}" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">

                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/register" th:text="#{create.name(#{name.student})}"></a> </li>
                            <li><a class="dropdown-item" href="/admin/groupSearch" th:text="#{name.student}"></a> </li>
                        </ul>
                    </div>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0" sec:authorize="hasRole('ADMIN')">
                    <div class="dropdown">
                        <button class="btn btn-light mt-1 me-2 dropdown-toggle"
                                th:text="#{name.lesson}" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">

                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/lesson/create" th:text="#{create.name(#{name.lesson})}"></a> </li>
                            <li><a class="dropdown-item" href="/admin/groupSearch" th:text="#{name.lesson}"></a> </li>
                        </ul>
                    </div>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0" sec:authorize="hasRole('ADMIN')">
                    <div class="dropdown">
                        <button class="btn btn-light mt-1 me-2 dropdown-toggle"
                                th:text="#{name.faculty}" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/faculty/create" th:text="#{create.name(#{name.faculty})}"></a> </li>
                            <li><a class="dropdown-item" href="/admin/faculty/main" th:text="#{name.faculty}"></a> </li>
                        </ul>
                    </div>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0" sec:authorize="hasRole('ADMIN')">
                    <div class="dropdown">
                        <button class="btn btn-light mt-1 me-2 dropdown-toggle"
                                th:text="#{name.room}" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/room/create" th:text="#{create.name(#{name.room})}"></a> </li>
                            <li><a class="dropdown-item" href="/admin/room/main" th:text="#{name.room}"></a> </li>
                        </ul>
                    </div>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0" sec:authorize="hasRole('ADMIN')">
                    <div class="dropdown">
                        <button class="btn btn-light mt-1 me-2 dropdown-toggle"
                                th:text="#{name.subject}" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/subject/create" th:text="#{create.name(#{name.subject})}"></a> </li>
                            <li><a class="dropdown-item" href="/admin/subject/main" th:text="#{name.subject}"></a> </li>
                        </ul>
                    </div>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0" sec:authorize="hasRole('ADMIN')">
                    <div class="dropdown">
                        <button class="btn btn-light mt-1 me-2 dropdown-toggle"
                                th:text="#{name.subject}" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/subject/create" th:text="#{create.name(#{name.subject})}"></a> </li>
                            <li><a class="dropdown-item" href="/admin/subject/main" th:text="#{name.subject}"></a> </li>
                        </ul>
                    </div>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0" sec:authorize="hasRole('ADMIN')">
                    <div class="dropdown">
                        <button class="btn btn-light mt-1 me-2 dropdown-toggle"
                                th:text="#{name.teacher}" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/teacher/create" th:text="#{create.name(#{name.teacher})}"></a> </li>
                            <li><a class="dropdown-item" href="/admin/teacher/main" th:text="#{name.teacher}"></a> </li>
                        </ul>
                    </div>
                </ul>
                <ul style="height: 25px;
                border-right: 1px solid #9b9b9b; margin-right: 10px; margin-left: -30px; margin-bottom: -6.5px"></ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <div class="dropdown">
                        <button class="btn btn-light mt-1 me-2 dropdown-toggle"
                                th:text="${#authentication.getPrincipal().getLanguage()}" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="?lang=uz" th:text="#{name.lang.uz}"></a></li>
                            <li><a class="dropdown-item" href="?lang=en" th:text="#{name.lang.en}"></a></li>
                            <li><a class="dropdown-item" href="?lang=ru" th:text="#{name.lang.ru}"></a></li>
                        </ul>
                    </div>
                </ul>

                <ul class="navbar-nav mb-2 mb-lg-0">
                    <div class="btn-group">
                        <a class="btn btn-light" href="/user/profile" th:text="${#authentication.name}"></a>
                        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item bg-light" href="/user/profile">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item bg-danger text-white" href="/auth/logout">Logout</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="student-sub-nav">
    <div class="w-100 mx-auto">
        <h1 class="text-center mt-1">Student Page</h1>
        <div class="mt-lg-5" style="margin: 0px 5px;">
            <a class="btn btn-primary me-3" href="/student/news">Dashboard</a>
            <a class="btn btn-primary me-3" href="/student/subject">Fan tanlovi</a>
            <a class="btn btn-primary me-3" href="/student/my-courses">Mening fanlarim</a>
            <a class="btn btn-primary me-3" href="/student/schedule">Dars jadvali</a>
            <a class="btn btn-primary me-3" href="/student/retake">Qayta o'qish</a>
            <a class="btn btn-primary me-3" href="/student/finals">Yakuniy</a>
            <a class="btn btn-primary me-3" href="/student/study-plan">Individua shaxsiy reja</a>
            <a class="btn btn-primary me-3" href="/student/info">Ma'lumot</a>
            <a class="btn btn-primary me-3" href="/student/survey">So'rovnoma</a>
            <a class="btn btn-primary me-3" href="/student/certificate">Ma'lumotnoma olish</a>
            <a class="btn btn-primary me-3" href="/student/diploma-work">Diplom ishi</a>
        </div>
    </div>
</div>

<section th:fragment="js_links">
    <script src="/js/bootstrap.min.js"></script>
    <script>

        if (sessionStorage.getItem("refresh")){
            sessionStorage.removeItem("refresh");
            location.reload();
        }

        const urlParams = new URLSearchParams(window.location.search);
        let lang = urlParams.get('lang');
        if (lang) {

            sessionStorage.setItem("refresh", 'true');

            fetch(`/language/${lang}`)
                .then(response => console.log(response))
                .catch(error => console.error(error));

            window.history.back();
        }
    </script>
</section>
</body>
</html>