<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:fragment="head(title,links)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <th:block th:replace="${title}"></th:block>
    <th:block th:replace="${links}"></th:block>
</head>
<body>


<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:text="${#authentication.name}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin}">Admin</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('TEACHER')">
                        <a class="nav-link active" aria-current="page" href="#">Teacher</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/auth/login}" sec:authorize="isAnonymous()">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/auth/register}" sec:authorize="isAnonymous()">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/auth/logout}" sec:authorize="isAuthenticated()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="student_nav">
    <div class="page-sidebar">
        <a class="logo-box" href="/">
            <div>
                <!-- <img src="https://lms.tuit.uz/assets/images/logo-md.png" alt="" height="40"> -->
                <span>E learning</span>
            </div>
            <i class="icon-radio_button_checked" id="fixed-sidebar-toggle-button"></i>
            <i class="icon-close" id="sidebar-toggle-button-close"></i>
        </a>
        <div class="slimScrollDiv mm-active"
             style="position: relative; overflow: hidden; width: auto; height: 691.6px;">
            <div class="page-sidebar-inner mm-show" style="overflow: hidden; width: auto; height: 691.6px;">
                <div class="page-sidebar-menu mm-active" id="sidebar-menu">
                    <ul class="accordion-menu metismenu mm-show" id="side-menu">
                        <li>
                            <a href="/student/news"><i class="menu-icon fa fa-dashboard"></i><span>Dashboard</span></a>
                        </li>
                    </ul>

<div th:fragment="student_nav">
    <div class="page-sidebar">
        <a class="logo-box" href="/">
            <div>
                <!-- <img src="https://lms.tuit.uz/assets/images/logo-md.png" alt="" height="40"> -->
                <span>E learning</span>
            </div>
            <i class="icon-radio_button_checked" id="fixed-sidebar-toggle-button"></i>
            <i class="icon-close" id="sidebar-toggle-button-close"></i>
        </a>
        <div class="slimScrollDiv mm-active"
             style="position: relative; overflow: hidden; width: auto; height: 691.6px;">
            <div class="page-sidebar-inner mm-show" style="overflow: hidden; width: auto; height: 691.6px;">
                <div class="page-sidebar-menu mm-active" id="sidebar-menu">
                    <ul class="accordion-menu metismenu mm-show" id="side-menu">
                        <li>
                            <a href="/student/news"><i class="menu-icon fa fa-dashboard"></i><span>Dashboard</span></a>
                        </li>
                    </ul>


                    <li>
                        <a href="/student/subject">
                            <i class="menu-icon fa fa-book"></i>
                            <span>Student</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/subject">
                            <i class="menu-icon fa fa-book"></i>
                            <span>Choose subject</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/my-courses">
                            <i class="menu-icon icon-study"></i>
                            <span>My courses</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/schedule">
                            <i class="menu-icon fa fa-calendar"></i>
                            <span>Schedule</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/retake">
                            <i class="menu-icon fa fa-calculator"></i>
                            <span>Retake</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/finals">
                            <i class="menu-icon fa fa-question-circle"></i>
                            <span>Finals</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/study-plan">
                            <i class="menu-icon fa fa-file-text-o"></i>
                            <span>My study plan</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/info">
                            <i class="menu-icon fa fa-info-circle"></i>
                            <span>Info</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/survey">
                            <i class="menu-icon fa fa-bar-chart"></i>
                            <span>Survey</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);">
                            <i class="menu-icon fa fa-cogs"></i><span>Student services</span><i
                                class="accordion-icon fa fa-angle-right"></i>
                        </a>
                        <ul class="submenu mm-collapse">
                            <li><a href="/student/certificate">Certificate</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/student/olympiad">
                            <i class="menu-icon fa fa-trophy"></i>
                            <span>Olympiad</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a href="/student/diploma-work" class="active">
                            <i class="menu-icon fa fa-graduation-cap"></i>
                            <span>Diploma work</span>
                        </a>
                    </li>

                    </ul>
                </div>
            </div>
            <div class="slimScrollBar"
                 style="background: rgb(204, 204, 204); width: 5px; position: absolute; top: 0px; opacity: 0.2; display: none; border-radius: 0px; z-index: 99; right: 0px; height: 691.2px;"></div>
            <div class="slimScrollRail"
                 style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px;"></div>
        </div>
    </div>

</div>

                    <li>
                        <a href="/student/subject">
                            <i class="menu-icon fa fa-book"></i>
                            <span>Student</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/subject">
                            <i class="menu-icon fa fa-book"></i>
                            <span>Choose subject</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/my-courses">
                            <i class="menu-icon icon-study"></i>
                            <span>My courses</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/schedule">
                            <i class="menu-icon fa fa-calendar"></i>
                            <span>Schedule</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/retake">
                            <i class="menu-icon fa fa-calculator"></i>
                            <span>Retake</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/finals">
                            <i class="menu-icon fa fa-question-circle"></i>
                            <span>Finals</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/study-plan">
                            <i class="menu-icon fa fa-file-text-o"></i>
                            <span>My study plan</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/info">
                            <i class="menu-icon fa fa-info-circle"></i>
                            <span>Info</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student/survey">
                            <i class="menu-icon fa fa-bar-chart"></i>
                            <span>Survey</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);">
                            <i class="menu-icon fa fa-cogs"></i><span>Student services</span><i
                                class="accordion-icon fa fa-angle-right"></i>
                        </a>
                        <ul class="submenu mm-collapse">
                            <li><a href="/student/certificate">Certificate</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/student/olympiad">
                            <i class="menu-icon fa fa-trophy"></i>
                            <span>Olympiad</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a href="/student/diploma-work" class="active">
                            <i class="menu-icon fa fa-graduation-cap"></i>
                            <span>Diploma work</span>
                        </a>
                    </li>

                    </ul>
                </div>
            </div>
            <div class="slimScrollBar"
                 style="background: rgb(204, 204, 204); width: 5px; position: absolute; top: 0px; opacity: 0.2; display: none; border-radius: 0px; z-index: 99; right: 0px; height: 691.2px;"></div>
            <div class="slimScrollRail"
                 style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px;"></div>
        </div>
    </div>


</div>

<section th:fragment="js_links">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/main.js"></script>
</section>
</body>
</html>