<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>Complete lesson</title>
    <link rel="stylesheet" href="">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/teacher/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/teacher/attendance}">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/teacher/mylessons}">My Lessons</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/auth/login}" sec:authorize="isAnonymous()">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/auth/register}" sec:authorize="isAnonymous()">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/auth/logout}" sec:authorize="isAuthenticated()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="card border-success mb-3" style="max-width: 50rem; alignment: center">
    <div class="card-header" style="text-align: center" th:text="${list.date}"></div>
    <div class="card-body text-success">
        <h5 class="card-title" th:text="${list.getLesson().getGroup().name+' '+#messages.msg('teacher.group')}"
            style="text-align: center"></h5>
        <h6 class="card-text" th:text="${list.getLesson().getSubject().getName()}" style="text-align: center"></h6>
        <p class="card-text" th:text="${list.getUsers().size()+' '+#messages.msg('teacher.students')}"
           style="text-align: center"></p>
    </div>
</div>
<form method="post" action="/teacher/complete-lesson-finish">
    <table class="table table-bordered border-success" style="max-width: 50rem; alignment: center">
        <thead>
        <tr>
            <th scope="col" th:text="'#'" style="text-align: center; width: 10%"></th>
            <th scope="col" th:text="${#messages.msg('teacher.fullname')}" style="text-align: center; width: 75%"></th>
            <th scope="col" th:text="${#messages.msg('teacher.attended')+'/'+#messages.msg('teacher.notattended')}"
                style="text-align: center; width: 15%"></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="student,iStat : ${list.getUsers()}">
            <tr>
                <td th:text="${iStat.count}"></td>
                <td th:text="${student.getLastName()+' '+student.getFirstName()}"></td>
                <td>
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" name="student_id" th:value="${student.getId()}" checked>
                    </div>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <input name="group_id" th:value="${list.getLesson().getGroup().getId()}">
    <input name="date" th:value="${list.getDate()}">
</form>
<section th:replace="fragments :: js_links"></section>
</body>
</html>