<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:replace="~{fragments :: head(~{::title},~{::link})}">
    <title>Teacher Menu</title>
    <link rel="stylesheet" href="">
</head>
<body>
<section th:replace="~{fragments :: nav}"></section>
<h1 style="text-align: center" th:text="${#messages.msg('teacher.welcome') + #authentication.name}"></h1>
<section th:replace="fragments :: js_links"></section>
</body>
</html>